{
    "semi": false,
    "singleQuote": true,
    "trailingComma": "all",
    "printWidth": 80,
    "overrides": [
        {
            "files": [
                ".eslintrc",
                ".eslintrc.json",
                ".eslintrc.jsonc"
            ],
            "options": {
                "trailingComma": "none"
            }
        }
    ]
}